header {
	height: 70px;
	display: flex;
	justify-content: space-between;
}

* {
	border: 1px solid brown;
}

header img {
	height: 50px;
}

nav {
	float: right;
	background-color: white;
	text-transform: uppercase;
}

